# Ignore Mac system files
.DS_store

credentials.json
credentials.yml
make_credentials.py
make_credentials_yaml.py

# Ignore data files
.csv

# Ignore reference folder
**/references

# Ignore data folders
**/data

# Ignore large model folder
**/models/sentiment

# Ignore all text files
*.rtf

# Ignore JupyterNotebooks checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints
